In [1]:
import pandas as pd
import numpy

In [2]:
file_1 = "2006-2012-school-demographics-and-accountability-snapshot.csv.zip"
file_2 = "2016-2017_Graduation_Outcomes_School.csv"

In [3]:
demographics_df = pd.read_csv(file_1)
graduation_df = pd.read_csv(file_2)

In [4]:
demographics_df

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,89.4,NaN,281,15,36,40,33,...,74,26.3,189,67.3,5,1.8,158.0,56.2,123.0,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,89.4,NaN,243,15,29,39,38,...,68,28.0,153,63.0,4,1.6,140.0,57.6,103.0,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,89.4,NaN,261,18,43,39,36,...,77,29.5,157,60.2,7,2.7,143.0,54.8,118.0,45.2
3,01M015,P.S. 015 ROBERTO CLEMENTE,20082009,89.4,NaN,252,17,37,44,32,...,75,29.8,149,59.1,7,2.8,149.0,59.1,103.0,40.9
4,01M015,P.S. 015 ROBERTO CLEMENTE,20092010,,96.5,208,16,40,28,32,...,67,32.2,118,56.7,6,2.9,124.0,59.6,84.0,40.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10070,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20072008,85.6,NaN,355,NaN,NaN,NaN,NaN,...,151,42.5,198,55.8,5,1.4,181.0,51.0,174.0,49.0
10071,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20082009,65.2,NaN,383,NaN,NaN,NaN,NaN,...,132,34.5,245,64.0,2,0.5,206.0,53.8,177.0,46.2
10072,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20092010,,89.2,395,NaN,NaN,NaN,NaN,...,146,37.0,242,61.3,3,0.8,199.0,50.4,196.0,49.6
10073,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20102011,,88.2,420,NaN,NaN,NaN,NaN,...,166,39.5,242,57.6,8,1.9,209.0,49.8,211.0,50.2
10074,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20112012,NaN,81.8,382,,,,,...,137,35.9,235,61.5,7,1.8,169.0,44.2,213.0,55.8

In [5]:
drop_df = demographics_df.drop(columns = ["prek","k", "grade1", "grade2","grade3","grade4","grade5","grade6","grade7","grade8"])
drop_df

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,grade9,grade10,grade11,grade12,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,89.4,NaN,281,NaN,NaN,NaN,NaN,...,74,26.3,189,67.3,5,1.8,158.0,56.2,123.0,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,89.4,NaN,243,NaN,NaN,NaN,NaN,...,68,28.0,153,63.0,4,1.6,140.0,57.6,103.0,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,89.4,NaN,261,NaN,NaN,NaN,NaN,...,77,29.5,157,60.2,7,2.7,143.0,54.8,118.0,45.2
3,01M015,P.S. 015 ROBERTO CLEMENTE,20082009,89.4,NaN,252,NaN,NaN,NaN,NaN,...,75,29.8,149,59.1,7,2.8,149.0,59.1,103.0,40.9
4,01M015,P.S. 015 ROBERTO CLEMENTE,20092010,,96.5,208,NaN,NaN,NaN,NaN,...,67,32.2,118,56.7,6,2.9,124.0,59.6,84.0,40.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10070,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20072008,85.6,NaN,355,NaN,355,NaN,NaN,...,151,42.5,198,55.8,5,1.4,181.0,51.0,174.0,49.0
10071,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20082009,65.2,NaN,383,NaN,383,NaN,NaN,...,132,34.5,245,64.0,2,0.5,206.0,53.8,177.0,46.2
10072,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20092010,,89.2,395,NaN,395,NaN,NaN,...,146,37.0,242,61.3,3,0.8,199.0,50.4,196.0,49.6
10073,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20102011,,88.2,420,NaN,420,NaN,NaN,...,166,39.5,242,57.6,8,1.9,209.0,49.8,211.0,50.2
10074,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20112012,NaN,81.8,382,,382,,,...,137,35.9,235,61.5,7,1.8,169.0,44.2,213.0,55.8

In [6]:
school_demographics_df = drop_df.dropna()
school_demographics_df

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,grade9,grade10,grade11,grade12,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
96,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,20092010,,69.9,511,109,89,87,55,...,141,27.6,290,56.8,16,3.1,297.0,58.1,214.0,41.9
97,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,20102011,,73.3,448,107,85,67,69,...,126,28.1,255,56.9,9,2.0,267.0,59.6,181.0,40.4
156,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20092010,,73.4,532,177,158,129,68,...,144,27.1,247,46.4,25,4.7,286.0,53.8,246.0,46.2
157,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20102011,,76.3,488,120,150,103,115,...,128,26.2,232,47.5,18,3.7,275.0,56.4,213.0,43.6
163,01M450,EAST SIDE COMMUNITY HIGH SCHOOL,20092010,,79.7,559,100,85,81,84,...,151,27.0,321,57.4,31,5.5,299.0,53.5,260.0,46.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10044,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,20092010,,85.7,420,121,122,93,84,...,129,30.7,280,66.7,5,1.2,207.0,49.3,213.0,50.7
10045,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,20102011,,82.9,420,124,107,107,82,...,122,29.0,288,68.6,4,1.0,204.0,48.6,216.0,51.4
10051,32K552,ACADEMY OF URBAN PLANNING,20092010,,74.4,469,148,143,97,81,...,163,34.8,292,62.3,8,1.7,231.0,49.3,238.0,50.7
10052,32K552,ACADEMY OF URBAN PLANNING,20102011,,75.2,471,125,141,107,98,...,146,31.0,310,65.8,8,1.7,248.0,52.7,223.0,47.3
10066,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCELL,20102011,,96.7,500,136,109,111,144,...,92,18.4,402,80.4,1,0.2,270.0,54.0,230.0,46.0

In [7]:
school_demographics_df.count()

DBN                  528
Name                 528
schoolyear           528
fl_percent           528
frl_percent          528
total_enrollment     528
grade9               528
grade10              528
grade11              528
grade12              528
ell_num              528
ell_percent          528
sped_num             528
sped_percent         528
ctt_num              528
selfcontained_num    528
asian_num            528
asian_per            528
black_num            528
black_per            528
hispanic_num         528
hispanic_per         528
white_num            528
white_per            528
male_num             528
male_per             528
female_num           528
female_per           528
dtype: int64

In [8]:
school_demographics_df.columns

Index(['DBN', 'Name', 'schoolyear', 'fl_percent', 'frl_percent',
       'total_enrollment', 'grade9', 'grade10', 'grade11', 'grade12',
       'ell_num', 'ell_percent', 'sped_num', 'sped_percent', 'ctt_num',
       'selfcontained_num', 'asian_num', 'asian_per', 'black_num', 'black_per',
       'hispanic_num', 'hispanic_per', 'white_num', 'white_per', 'male_num',
       'male_per', 'female_num', 'female_per'],
      dtype='object')

In [9]:
school_demographics_df.rename(columns = {"Name":"School Name"}, inplace = True)
school_demographics_df

/Users/swarupdinesh/opt/anaconda3/envs/pythondata/lib/python3.7/site-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,DBN,School Name,schoolyear,fl_percent,frl_percent,total_enrollment,grade9,grade10,grade11,grade12,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
96,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,20092010,,69.9,511,109,89,87,55,...,141,27.6,290,56.8,16,3.1,297.0,58.1,214.0,41.9
97,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,20102011,,73.3,448,107,85,67,69,...,126,28.1,255,56.9,9,2.0,267.0,59.6,181.0,40.4
156,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20092010,,73.4,532,177,158,129,68,...,144,27.1,247,46.4,25,4.7,286.0,53.8,246.0,46.2
157,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20102011,,76.3,488,120,150,103,115,...,128,26.2,232,47.5,18,3.7,275.0,56.4,213.0,43.6
163,01M450,EAST SIDE COMMUNITY HIGH SCHOOL,20092010,,79.7,559,100,85,81,84,...,151,27.0,321,57.4,31,5.5,299.0,53.5,260.0,46.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10044,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,20092010,,85.7,420,121,122,93,84,...,129,30.7,280,66.7,5,1.2,207.0,49.3,213.0,50.7
10045,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,20102011,,82.9,420,124,107,107,82,...,122,29.0,288,68.6,4,1.0,204.0,48.6,216.0,51.4
10051,32K552,ACADEMY OF URBAN PLANNING,20092010,,74.4,469,148,143,97,81,...,163,34.8,292,62.3,8,1.7,231.0,49.3,238.0,50.7
10052,32K552,ACADEMY OF URBAN PLANNING,20102011,,75.2,471,125,141,107,98,...,146,31.0,310,65.8,8,1.7,248.0,52.7,223.0,47.3
10066,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCELL,20102011,,96.7,500,136,109,111,144,...,92,18.4,402,80.4,1,0.2,270.0,54.0,230.0,46.0

In [10]:
graduation_df.columns

Index(['DBN', 'School Name', 'Demographic Category', 'Demographic Variable',
       'Cohort Year', 'Cohort', 'Total Cohort #', 'Total Grads #',
       'Total Grads % of cohort', 'Total Regents #',
       'Total Regents % of cohort', 'Total Regents % of grads',
       'Advanced Regents #', 'Advanced Regents % of cohort',
       'Advanced Regents % of grads', 'Regents w/o Advanced #',
       'Regents w/o Advanced % of cohort', 'Regents w/o Advanced % of grads',
       'Local #', 'Local % of cohort', 'Local % of grads', 'Still Enrolled #',
       'Still Enrolled % of cohort', 'Dropped Out #',
       'Dropped Out % of cohort', 'SACC (IEP Diploma) #',
       'SACC (IEP Diploma) % of cohort', 'TASC (GED) #',
       'TASC (GED) % of cohort'],
      dtype='object')

In [11]:
graduation_df

,DBN,School Name,Demographic Category,Demographic Variable,Cohort Year,Cohort,Total Cohort #,Total Grads #,Total Grads % of cohort,Total Regents #,...,Local % of cohort,Local % of grads,Still Enrolled #,Still Enrolled % of cohort,Dropped Out #,Dropped Out % of cohort,SACC (IEP Diploma) #,SACC (IEP Diploma) % of cohort,TASC (GED) #,TASC (GED) % of cohort
0,01M292,ORCHARD COLLEGIATE ACADEMY,All Students,All Students,2013,4 year August,36,25.0,69.4,23.0,...,5.6,8.0,3.0,8.3,7.0,19.4,NaN,NaN,NaN,NaN
1,01M292,ORCHARD COLLEGIATE ACADEMY,All Students,All Students,2012,4 year August,44,24.0,54.5,20.0,...,9.1,16.7,10.0,22.7,10.0,22.7,NaN,NaN,NaN,NaN
2,01M292,ORCHARD COLLEGIATE ACADEMY,All Students,All Students,2011,4 year August,73,46.0,63.0,41.0,...,6.8,10.9,18.0,24.7,7.0,9.6,NaN,NaN,NaN,NaN
3,01M292,ORCHARD COLLEGIATE ACADEMY,All Students,All Students,2010,4 year August,61,26.0,42.6,26.0,...,0.0,0.0,18.0,29.5,17.0,27.9,NaN,NaN,NaN,NaN
4,01M292,ORCHARD COLLEGIATE ACADEMY,All Students,All Students,2009,4 year August,85,49.0,57.6,44.0,...,5.9,10.2,28.0,32.9,8.0,9.4,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255712,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,ELL Status,Never ELL,2012,4 year June,76,16.0,21.1,10.0,...,7.9,37.5,44.0,57.9,16.0,21.1,NaN,NaN,NaN,NaN
255713,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,ELL Status,Never ELL,2011,4 year June,89,8.0,9.0,8.0,...,0.0,0.0,54.0,60.7,27.0,30.3,NaN,NaN,NaN,NaN
255714,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,ELL Status,Never ELL,2012,5 year August,100,35.0,35.0,23.0,...,12.0,34.3,36.0,36.0,28.0,28.0,NaN,NaN,NaN,NaN
255715,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,ELL Status,Never ELL,2012,5 year June,100,35.0,35.0,23.0,...,12.0,34.3,36.0,36.0,28.0,28.0,NaN,NaN,NaN,NaN
255716,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,ELL Status,Never ELL,2011,6 year June,130,49.0,37.7,39.0,...,7.7,20.4,20.0,15.4,60.0,46.2,NaN,NaN,NaN,NaN

In [12]:
merge_df = pd.merge(school_demographics_df,graduation_df, on=["School Name" , "School Name"])
merge_df

,DBN_x,School Name,schoolyear,fl_percent,frl_percent,total_enrollment,grade9,grade10,grade11,grade12,...,Local % of cohort,Local % of grads,Still Enrolled #,Still Enrolled % of cohort,Dropped Out #,Dropped Out % of cohort,SACC (IEP Diploma) #,SACC (IEP Diploma) % of cohort,TASC (GED) #,TASC (GED) % of cohort
0,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20092010,,73.4,532,177,158,129,68,...,7.7,8.6,1.0,1.3,7.0,9.0,NaN,NaN,NaN,NaN
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20092010,,73.4,532,177,158,129,68,...,6.1,8.0,2.0,3.0,14.0,21.2,NaN,NaN,NaN,NaN
2,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20092010,,73.4,532,177,158,129,68,...,13.4,15.7,3.0,3.7,8.0,9.8,NaN,NaN,NaN,NaN
3,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20092010,,73.4,532,177,158,129,68,...,14.1,17.5,3.0,4.2,11.0,15.5,NaN,NaN,NaN,NaN
4,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20092010,,73.4,532,177,158,129,68,...,20.5,26.1,10.0,11.4,9.0,10.2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172430,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,20102011,,93.8,354,99,98,86,71,...,12.5,17.2,2.0,5.0,9.0,22.5,NaN,NaN,NaN,NaN
172431,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,20102011,,93.8,354,99,98,86,71,...,10.8,14.8,2.0,5.4,8.0,21.6,NaN,NaN,NaN,NaN
172432,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,20102011,,93.8,354,99,98,86,71,...,14.3,17.6,0.0,0.0,8.0,19.0,NaN,NaN,NaN,NaN
172433,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,20102011,,93.8,354,99,98,86,71,...,14.3,17.6,0.0,0.0,8.0,19.0,NaN,NaN,NaN,NaN
172434,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,20102011,,93.8,354,99,98,86,71,...,11.6,14.7,0.0,0.0,9.0,20.9,NaN,NaN,NaN,NaN

In [13]:
merge_df.count()

DBN_x                               172435
School Name                         172435
schoolyear                          172435
fl_percent                          172435
frl_percent                         172435
total_enrollment                    172435
grade9                              172435
grade10                             172435
grade11                             172435
grade12                             172435
ell_num                             172435
ell_percent                         172435
sped_num                            172435
sped_percent                        172435
ctt_num                             172435
selfcontained_num                   172435
asian_num                           172435
asian_per                           172435
black_num                           172435
black_per                           172435
hispanic_num                        172435
hispanic_per                        172435
white_num                           172435
white_per                           172435
male_num                            172435
male_per                            172435
female_num                          172435
female_per                          172435
DBN_y                               172435
Demographic Category                172435
Demographic Variable                172435
Cohort Year                         172435
Cohort                              172435
Total Cohort #                      172435
Total Grads #                       127593
Total Grads % of cohort             127593
Total Regents #                     127593
Total Regents % of cohort           127593
Total Regents % of grads            127003
Advanced Regents #                  127593
Advanced Regents % of cohort        127593
Advanced Regents % of grads         127003
Regents w/o Advanced #              127593
Regents w/o Advanced % of cohort    127593
Regents w/o Advanced % of grads     127003
Local #                             127593
Local % of cohort                   127593
Local % of grads                    127003
Still Enrolled #                    127593
Still Enrolled % of cohort          127593
Dropped Out #                       127593
Dropped Out % of cohort             127593
SACC (IEP Diploma) #                     0
SACC (IEP Diploma) % of cohort           0
TASC (GED) #                             0
TASC (GED) % of cohort                   0
dtype: int64

In [14]:
merge_drop_df = merge_df.drop(columns=['SACC (IEP Diploma) #',"SACC (IEP Diploma) % of cohort",'TASC (GED) #',
       'TASC (GED) % of cohort'])
merge_drop_df

,DBN_x,School Name,schoolyear,fl_percent,frl_percent,total_enrollment,grade9,grade10,grade11,grade12,...,Regents w/o Advanced #,Regents w/o Advanced % of cohort,Regents w/o Advanced % of grads,Local #,Local % of cohort,Local % of grads,Still Enrolled #,Still Enrolled % of cohort,Dropped Out #,Dropped Out % of cohort
0,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20092010,,73.4,532,177,158,129,68,...,44.0,56.4,62.9,6.0,7.7,8.6,1.0,1.3,7.0,9.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20092010,,73.4,532,177,158,129,68,...,35.0,53.0,70.0,4.0,6.1,8.0,2.0,3.0,14.0,21.2
2,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20092010,,73.4,532,177,158,129,68,...,46.0,56.1,65.7,11.0,13.4,15.7,3.0,3.7,8.0,9.8
3,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20092010,,73.4,532,177,158,129,68,...,44.0,62.0,77.2,10.0,14.1,17.5,3.0,4.2,11.0,15.5
4,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20092010,,73.4,532,177,158,129,68,...,45.0,51.1,65.2,18.0,20.5,26.1,10.0,11.4,9.0,10.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172430,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,20102011,,93.8,354,99,98,86,71,...,21.0,52.5,72.4,5.0,12.5,17.2,2.0,5.0,9.0,22.5
172431,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,20102011,,93.8,354,99,98,86,71,...,17.0,45.9,63.0,4.0,10.8,14.8,2.0,5.4,8.0,21.6
172432,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,20102011,,93.8,354,99,98,86,71,...,23.0,54.8,67.6,6.0,14.3,17.6,0.0,0.0,8.0,19.0
172433,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,20102011,,93.8,354,99,98,86,71,...,23.0,54.8,67.6,6.0,14.3,17.6,0.0,0.0,8.0,19.0
172434,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,20102011,,93.8,354,99,98,86,71,...,22.0,51.2,64.7,5.0,11.6,14.7,0.0,0.0,9.0,20.9

In [15]:
merge_drop_df.count()

DBN_x                               172435
School Name                         172435
schoolyear                          172435
fl_percent                          172435
frl_percent                         172435
total_enrollment                    172435
grade9                              172435
grade10                             172435
grade11                             172435
grade12                             172435
ell_num                             172435
ell_percent                         172435
sped_num                            172435
sped_percent                        172435
ctt_num                             172435
selfcontained_num                   172435
asian_num                           172435
asian_per                           172435
black_num                           172435
black_per                           172435
hispanic_num                        172435
hispanic_per                        172435
white_num                           172435
white_per                           172435
male_num                            172435
male_per                            172435
female_num                          172435
female_per                          172435
DBN_y                               172435
Demographic Category                172435
Demographic Variable                172435
Cohort Year                         172435
Cohort                              172435
Total Cohort #                      172435
Total Grads #                       127593
Total Grads % of cohort             127593
Total Regents #                     127593
Total Regents % of cohort           127593
Total Regents % of grads            127003
Advanced Regents #                  127593
Advanced Regents % of cohort        127593
Advanced Regents % of grads         127003
Regents w/o Advanced #              127593
Regents w/o Advanced % of cohort    127593
Regents w/o Advanced % of grads     127003
Local #                             127593
Local % of cohort                   127593
Local % of grads                    127003
Still Enrolled #                    127593
Still Enrolled % of cohort          127593
Dropped Out #                       127593
Dropped Out % of cohort             127593
dtype: int64

In [16]:
clean_data_df = merge_drop_df.dropna()
clean_data_df

,DBN_x,School Name,schoolyear,fl_percent,frl_percent,total_enrollment,grade9,grade10,grade11,grade12,...,Regents w/o Advanced #,Regents w/o Advanced % of cohort,Regents w/o Advanced % of grads,Local #,Local % of cohort,Local % of grads,Still Enrolled #,Still Enrolled % of cohort,Dropped Out #,Dropped Out % of cohort
0,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20092010,,73.4,532,177,158,129,68,...,44.0,56.4,62.9,6.0,7.7,8.6,1.0,1.3,7.0,9.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20092010,,73.4,532,177,158,129,68,...,35.0,53.0,70.0,4.0,6.1,8.0,2.0,3.0,14.0,21.2
2,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20092010,,73.4,532,177,158,129,68,...,46.0,56.1,65.7,11.0,13.4,15.7,3.0,3.7,8.0,9.8
3,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20092010,,73.4,532,177,158,129,68,...,44.0,62.0,77.2,10.0,14.1,17.5,3.0,4.2,11.0,15.5
4,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,20092010,,73.4,532,177,158,129,68,...,45.0,51.1,65.2,18.0,20.5,26.1,10.0,11.4,9.0,10.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172430,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,20102011,,93.8,354,99,98,86,71,...,21.0,52.5,72.4,5.0,12.5,17.2,2.0,5.0,9.0,22.5
172431,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,20102011,,93.8,354,99,98,86,71,...,17.0,45.9,63.0,4.0,10.8,14.8,2.0,5.4,8.0,21.6
172432,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,20102011,,93.8,354,99,98,86,71,...,23.0,54.8,67.6,6.0,14.3,17.6,0.0,0.0,8.0,19.0
172433,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,20102011,,93.8,354,99,98,86,71,...,23.0,54.8,67.6,6.0,14.3,17.6,0.0,0.0,8.0,19.0
172434,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,20102011,,93.8,354,99,98,86,71,...,22.0,51.2,64.7,5.0,11.6,14.7,0.0,0.0,9.0,20.9

In [17]:
clean_data_df.count()

DBN_x                               127003
School Name                         127003
schoolyear                          127003
fl_percent                          127003
frl_percent                         127003
total_enrollment                    127003
grade9                              127003
grade10                             127003
grade11                             127003
grade12                             127003
ell_num                             127003
ell_percent                         127003
sped_num                            127003
sped_percent                        127003
ctt_num                             127003
selfcontained_num                   127003
asian_num                           127003
asian_per                           127003
black_num                           127003
black_per                           127003
hispanic_num                        127003
hispanic_per                        127003
white_num                           127003
white_per                           127003
male_num                            127003
male_per                            127003
female_num                          127003
female_per                          127003
DBN_y                               127003
Demographic Category                127003
Demographic Variable                127003
Cohort Year                         127003
Cohort                              127003
Total Cohort #                      127003
Total Grads #                       127003
Total Grads % of cohort             127003
Total Regents #                     127003
Total Regents % of cohort           127003
Total Regents % of grads            127003
Advanced Regents #                  127003
Advanced Regents % of cohort        127003
Advanced Regents % of grads         127003
Regents w/o Advanced #              127003
Regents w/o Advanced % of cohort    127003
Regents w/o Advanced % of grads     127003
Local #                             127003
Local % of cohort                   127003
Local % of grads                    127003
Still Enrolled #                    127003
Still Enrolled % of cohort          127003
Dropped Out #                       127003
Dropped Out % of cohort             127003
dtype: int64

In [18]:
# export pandas dataframe to csv
clean_data_df.to_csv('sample_data.csv')